@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.WebUtilities
@using Booktique.Models.MainModels
@using System.Security.Claims

@inject IDbContextFactory<BooktiqueContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

@implements IDisposable
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><strong>Booktique</strong></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable d-flex flex-column" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="" Match="NavLinkMatch.All">
                <span class="nav-menu-icon-container me-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6971 4.24037C12.2379 4.13952 11.7622 4.13952 11.303 4.24037C10.8123 4.34812 10.3355 4.62332 9.09314 5.36876L6.24314 7.07876C5.06758 7.78409 4.62545 8.0592 4.30938 8.41865C4.01349 8.75515 3.79039 9.14919 3.65408 9.57604C3.50846 10.032 3.50004 10.5527 3.50004 11.9236V14.85C3.50004 15.9825 3.50062 16.7867 3.55204 17.4161C3.60275 18.0367 3.69913 18.421 3.85427 18.7254C4.16586 19.337 4.66304 19.8342 5.27457 20.1457C5.57904 20.3009 5.96329 20.3973 6.58392 20.448C6.91632 20.4751 7.2975 20.4881 7.75004 20.4943V17.4195C7.75003 16.8854 7.75002 16.4395 7.77978 16.0753C7.81082 15.6954 7.87793 15.3388 8.04977 15.0015C8.31342 14.4841 8.73412 14.0634 9.25156 13.7997C9.58883 13.6279 9.94548 13.5607 10.3254 13.5297C10.6896 13.5 11.1354 13.5 11.6696 13.5H12.3305C12.8646 13.5 13.3105 13.5 13.6747 13.5297C14.0546 13.5607 14.4112 13.6279 14.7485 13.7997C15.266 14.0634 15.6867 14.4841 15.9503 15.0015C16.1221 15.3388 16.1893 15.6954 16.2203 16.0753C16.2501 16.4395 16.25 16.8854 16.25 17.4195V20.4943C16.7026 20.4881 17.0838 20.4751 17.4162 20.448C18.0368 20.3973 18.421 20.3009 18.7255 20.1457C19.337 19.8342 19.8342 19.337 20.1458 18.7254C20.3009 18.421 20.3973 18.0367 20.448 17.4161C20.4995 16.7867 20.5 15.9825 20.5 14.85V11.9236C20.5 10.5527 20.4916 10.032 20.346 9.57604C20.2097 9.14919 19.9866 8.75515 19.6907 8.41865C19.3746 8.0592 18.9325 7.78409 17.7569 7.07876L14.9069 5.36876C13.6646 4.62332 13.1878 4.34812 12.6971 4.24037ZM15.5274 21.9995C16.3234 21.9976 16.9839 21.9883 17.5383 21.943C18.2517 21.8847 18.8553 21.7631 19.4065 21.4823C20.3003 21.0269 21.0269 20.3002 21.4823 19.4064C21.7632 18.8553 21.8848 18.2516 21.9431 17.5382C22 16.8406 22 15.9751 22 14.883V11.9236C22 11.8803 22 11.8375 22.0001 11.7952C22.0003 10.5973 22.0005 9.82616 21.7749 9.11972C21.5757 8.49587 21.2496 7.91995 20.8172 7.42815C20.3275 6.87123 19.6661 6.47463 18.6388 5.85853C18.6025 5.83681 18.5658 5.81481 18.5287 5.79252L15.6787 4.08252C15.6393 4.05887 15.6004 4.03551 15.5619 4.01245C14.4773 3.3613 13.7793 2.94227 13.0189 2.77528C12.3476 2.62788 11.6524 2.62788 10.9812 2.77528C10.2208 2.94227 9.52278 3.3613 8.43813 4.01245C8.39971 4.03551 8.3608 4.05887 8.32139 4.08252L5.47139 5.79252C5.43424 5.81481 5.39755 5.83681 5.36132 5.85854C4.33396 6.47463 3.67262 6.87123 3.18292 7.42815C2.75047 7.91995 2.4244 8.49587 2.22517 9.11972C1.99957 9.82616 1.99974 10.5973 2.00002 11.7952C2.00003 11.8375 2.00004 11.8803 2.00004 11.9236L2.00004 14.883C2.00003 15.9751 2.00003 16.8406 2.05703 17.5382C2.11531 18.2516 2.23692 18.8553 2.51776 19.4064C2.97316 20.3002 3.69981 21.0269 4.59358 21.4823C5.14476 21.7631 5.74838 21.8847 6.46177 21.943C7.01621 21.9883 7.67668 21.9976 8.47268 21.9995C8.48176 21.9998 8.49088 22 8.50004 22H9.06053C9.07929 22 9.09812 22 9.11702 22H14.8831C14.902 22 14.9208 22 14.9396 22H15.5C15.5092 22 15.5183 21.9998 15.5274 21.9995ZM14.75 20.5V17.45C14.75 16.8775 14.7495 16.4933 14.7253 16.1975C14.7018 15.9103 14.6599 15.773 14.6138 15.6825C14.494 15.4473 14.3027 15.2561 14.0675 15.1362C13.977 15.0901 13.8397 15.0482 13.5526 15.0247C13.2567 15.0006 12.8725 15 12.3 15H11.7C11.1276 15 10.7434 15.0006 10.4475 15.0247C10.1604 15.0482 10.0231 15.0901 9.93255 15.1362C9.69735 15.2561 9.50612 15.4473 9.38628 15.6825C9.34014 15.773 9.29825 15.9103 9.2748 16.1974C9.25062 16.4933 9.25004 16.8775 9.25004 17.45V20.5H14.75Z" fill="white" />
                    </svg>
                </span>
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/favorites">
                <span class="nav-menu-icon-container me-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.254 5.83264C17.5927 4.17133 14.8993 4.17136 13.238 5.83264L12.7077 5.30231L13.238 5.83264L12.5303 6.54031C12.2374 6.83321 11.7626 6.83321 11.4697 6.54031L10.762 5.83264C9.10069 4.17133 6.40726 4.17136 4.74597 5.83264C3.08469 7.49393 3.08466 10.1874 4.74597 11.8487L12 19.1027L19.254 11.8487C20.9153 10.1874 20.9153 7.49396 19.254 5.83264ZM12.1773 4.77198C14.4244 2.52492 18.0676 2.52488 20.3147 4.77198C22.5618 7.01909 22.5617 10.6623 20.3147 12.9093L12.5303 20.6937C12.3897 20.8343 12.1989 20.9134 12 20.9134C11.8011 20.9134 11.6103 20.8343 11.4697 20.6937L3.68531 12.9093C1.43821 10.6622 1.43825 7.01905 3.68531 4.77198C5.93237 2.52492 9.57555 2.52488 11.8227 4.77198L12 4.94932L12.1773 4.77198Z" fill="white" />
                    </svg>
                </span>
                Favorites
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/ask-ai">
                <span class="nav-menu-icon-container me-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9125 2C11.2263 2 11.507 2.1954 11.6159 2.48972L12.0729 3.7247L13.3078 4.18168C13.6022 4.29059 13.7976 4.57124 13.7976 4.88507C13.7976 5.1989 13.6022 5.47955 13.3078 5.58846L12.0729 6.04544L11.6159 7.28042C11.507 7.57475 11.2263 7.77015 10.9125 7.77015C10.5987 7.77015 10.318 7.57475 10.2091 7.28042L9.75211 6.04544L8.51714 5.58846C8.22281 5.47955 8.02741 5.1989 8.02741 4.88507C8.02741 4.57124 8.22281 4.29059 8.51714 4.18168L9.75211 3.7247L10.2091 2.48972C10.318 2.1954 10.5987 2 10.9125 2ZM10.9125 4.78795C10.8832 4.82323 10.8506 4.85574 10.8154 4.88507C10.8506 4.91441 10.8832 4.94692 10.9125 4.98219C10.9418 4.94692 10.9743 4.91441 11.0096 4.88507C10.9743 4.85574 10.9418 4.82323 10.9125 4.78795ZM16.4201 6.12515C16.7339 6.12515 17.0146 6.32055 17.1235 6.61488L17.8688 8.62906L19.883 9.37437C20.1773 9.48329 20.3727 9.76393 20.3727 10.0778C20.3727 10.3916 20.1773 10.6722 19.883 10.7812L17.8688 11.5265L17.1235 13.5407C17.0146 13.835 16.7339 14.0304 16.4201 14.0304C16.1063 14.0304 15.8256 13.835 15.7167 13.5406L14.9714 11.5265L12.9572 10.7812C12.6629 10.6722 12.4675 10.3916 12.4675 10.0778C12.4675 9.76393 12.6629 9.48329 12.9572 9.37437L14.9714 8.62906L15.7167 6.61488C15.8256 6.32055 16.1063 6.12515 16.4201 6.12515ZM16.4201 9.03631L16.2585 9.47305C16.1825 9.67834 16.0207 9.84019 15.8154 9.91616L15.3786 10.0778L15.8154 10.2394C16.0207 10.3153 16.1825 10.4772 16.2585 10.6825L16.4201 11.1192L16.5817 10.6825C16.6577 10.4772 16.8195 10.3153 17.0248 10.2394L17.4616 10.0778L17.0248 9.91616C16.8195 9.84019 16.6577 9.67834 16.5817 9.47305L16.4201 9.03631ZM9.18087 10.8922C9.4947 10.8922 9.77534 11.0876 9.88426 11.3819L11.0621 14.5649L14.2451 15.7427C14.5394 15.8516 14.7348 16.1323 14.7348 16.4461C14.7348 16.7599 14.5394 17.0406 14.2451 17.1495L11.0621 18.3273L9.88426 21.5103C9.77534 21.8046 9.4947 22 9.18087 22C8.86704 22 8.58639 21.8046 8.47748 21.5103L7.29967 18.3273L4.11668 17.1495C3.82235 17.0406 3.62695 16.7599 3.62695 16.4461C3.62695 16.1323 3.82235 15.8516 4.11668 15.7427L7.29967 14.5649L8.47748 11.3819C8.58639 11.0876 8.86704 10.8922 9.18087 10.8922ZM9.18087 13.8033L8.58676 15.4089C8.5108 15.6142 8.34894 15.776 8.14365 15.852L6.53811 16.4461L8.14365 17.0402C8.34894 17.1162 8.5108 17.278 8.58676 17.4833L9.18087 19.0888L9.77497 17.4833C9.85093 17.278 10.0128 17.1162 10.2181 17.0402L11.8236 16.4461L10.2181 15.852C10.0128 15.776 9.85093 15.6142 9.77497 15.4089L9.18087 13.8033Z" fill="white" />
                    </svg>
                </span>
                Booktique AI
            </NavLink>
        </div>

        <AuthorizeView Roles="User, Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center" href="/subscriptions">
                        <span class="nav-menu-icon-container me-2">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.247 2.67993C11.7234 2.45276 12.2769 2.45276 12.7534 2.67993C13.1159 2.85282 13.3468 3.16832 13.5169 3.44616C13.6892 3.7277 13.8747 4.10359 14.0919 4.54354L15.5333 7.46418C15.6049 7.60934 15.6456 7.69121 15.6796 7.75136C15.7006 7.78856 15.7112 7.80307 15.7141 7.8068C15.7361 7.83035 15.7623 7.84945 15.7915 7.86304C15.796 7.8647 15.8131 7.87031 15.8549 7.87878C15.9226 7.89248 16.0131 7.90588 16.1733 7.92916L19.3963 8.3975C19.8819 8.46803 20.2967 8.5283 20.6177 8.6052C20.9345 8.6811 21.3059 8.80319 21.5824 9.09459C21.9457 9.47751 22.1167 10.0039 22.0479 10.5273C21.9955 10.9255 21.7668 11.2426 21.5551 11.4902C21.3406 11.7411 21.0404 12.0337 20.689 12.3762L18.3568 14.6495C18.2409 14.7625 18.1756 14.8265 18.1289 14.8774C18.1 14.9089 18.0895 14.9234 18.0869 14.9274C18.0713 14.9555 18.0612 14.9864 18.0573 15.0184C18.0571 15.0231 18.0571 15.0411 18.0619 15.0835C18.0698 15.1522 18.085 15.2423 18.1124 15.4019L18.663 18.612C18.7459 19.0955 18.8168 19.5086 18.8428 19.8377C18.8686 20.1625 18.8672 20.5534 18.6755 20.9064C18.4236 21.3702 17.9758 21.6956 17.4568 21.7918C17.0619 21.8651 16.6896 21.7455 16.3887 21.6207C16.0838 21.4943 15.7128 21.2992 15.2786 21.0709L12.3957 19.5553C12.2524 19.4799 12.1714 19.4376 12.1086 19.4089C12.0697 19.3912 12.0526 19.3857 12.048 19.3844C12.0164 19.3782 11.9839 19.3782 11.9523 19.3844C11.9477 19.3857 11.9306 19.3912 11.8918 19.4089C11.829 19.4376 11.7479 19.4799 11.6046 19.5553L8.72176 21.0709C8.28753 21.2992 7.91653 21.4943 7.61163 21.6207C7.31072 21.7455 6.93848 21.8651 6.54354 21.7918C6.02456 21.6956 5.57675 21.3702 5.32484 20.9064C5.13313 20.5534 5.13179 20.1625 5.15751 19.8377C5.18356 19.5086 5.25444 19.0955 5.33739 18.6119L5.88796 15.4019C5.91533 15.2423 5.93052 15.1522 5.93841 15.0835C5.94329 15.0411 5.94324 15.0231 5.94304 15.0184C5.93913 14.9864 5.92909 14.9555 5.91347 14.9274C5.91083 14.9234 5.90031 14.9088 5.87143 14.8774C5.82471 14.8265 5.75943 14.7625 5.6435 14.6495L3.31127 12.3761C2.95993 12.0337 2.65974 11.7411 2.44524 11.4902C2.23355 11.2426 2.00484 10.9255 1.95246 10.5273C1.88363 10.0039 2.05467 9.47751 2.41796 9.09459C2.69442 8.80319 3.06582 8.6811 3.38263 8.6052C3.70365 8.5283 4.11848 8.46803 4.60401 8.3975L7.82708 7.92916C7.98728 7.90588 8.07771 7.89248 8.14542 7.87878C8.18727 7.87031 8.20436 7.8647 8.20882 7.86303C8.238 7.84945 8.26428 7.83035 8.28622 7.8068C8.28919 7.80306 8.2998 7.78855 8.32079 7.75136C8.35474 7.69121 8.39543 7.60934 8.46708 7.46418L9.90849 4.54356C10.1256 4.1036 10.3111 3.7277 10.4834 3.44617C10.6535 3.16832 10.8844 2.85282 11.247 2.67993ZM11.9085 4.02695C11.8945 4.04108 11.8465 4.09256 11.7628 4.2293C11.6305 4.44535 11.4751 4.75867 11.2379 5.2391L9.81218 8.12802C9.80324 8.14613 9.79428 8.16438 9.78528 8.18274C9.67742 8.40247 9.56214 8.63734 9.38509 8.82782C9.23083 8.99378 9.04581 9.12821 8.8403 9.22364C8.60444 9.33315 8.34544 9.37022 8.10313 9.40489C8.08289 9.40779 8.06276 9.41067 8.04278 9.41357L4.85466 9.87683C4.32448 9.95387 3.97844 10.0049 3.7321 10.0639C3.57619 10.1013 3.51238 10.1311 3.49462 10.14C3.45436 10.1888 3.43411 10.2512 3.43798 10.3143C3.44708 10.332 3.4812 10.3936 3.58538 10.5155C3.74999 10.708 3.99993 10.9527 4.38358 11.3267L6.69052 13.5754C6.70499 13.5895 6.71958 13.6036 6.73425 13.6179C6.9099 13.7884 7.09765 13.9706 7.22409 14.1978C7.33426 14.3958 7.40493 14.6133 7.43218 14.8383C7.46346 15.0964 7.41867 15.3542 7.37677 15.5954C7.37327 15.6155 7.36979 15.6355 7.36637 15.6554L6.82178 18.8307C6.73121 19.3587 6.67282 19.7036 6.65283 19.9561C6.64017 20.1159 6.64878 20.1858 6.65181 20.2055C6.6858 20.2589 6.73882 20.2974 6.80009 20.3132C6.81972 20.31 6.88885 20.2966 7.03694 20.2352C7.27093 20.1381 7.58087 19.976 8.05509 19.7267L10.9066 18.2276C10.9245 18.2182 10.9425 18.2087 10.9606 18.1991C11.177 18.0848 11.4083 17.9625 11.6635 17.9125C11.8858 17.8689 12.1145 17.8689 12.3369 17.9125C12.5921 17.9625 12.8234 18.0848 13.0398 18.1991C13.0579 18.2087 13.0758 18.2182 13.0937 18.2276L15.9453 19.7267C16.4195 19.976 16.7294 20.1381 16.9634 20.2352C17.1115 20.2966 17.1806 20.31 17.2003 20.3132C17.2615 20.2974 17.3145 20.2589 17.3485 20.2055C17.3516 20.1858 17.3602 20.1159 17.3475 19.9561C17.3275 19.7036 17.2691 19.3587 17.1786 18.8307L16.634 15.6554C16.6306 15.6355 16.6271 15.6155 16.6236 15.5954C16.5817 15.3542 16.5369 15.0964 16.5682 14.8383C16.5954 14.6133 16.6661 14.3958 16.7763 14.1978C16.9027 13.9706 17.0904 13.7884 17.2661 13.6179C17.2808 13.6036 17.2954 13.5895 17.3098 13.5754L19.6168 11.3267C20.0004 10.9527 20.2504 10.708 20.415 10.5155C20.5191 10.3936 20.5533 10.332 20.5624 10.3143C20.5662 10.2512 20.546 10.1888 20.5057 10.14C20.488 10.1311 20.4242 10.1013 20.2682 10.0639C20.0219 10.0049 19.6759 9.95387 19.1457 9.87683L15.9576 9.41357C15.9376 9.41067 15.9175 9.40779 15.8972 9.40489C15.6549 9.37022 15.3959 9.33315 15.16 9.22364C14.9545 9.12821 14.7695 8.99378 14.6153 8.82782C14.4382 8.63734 14.3229 8.40247 14.2151 8.18274C14.2061 8.16438 14.1971 8.14613 14.1882 8.12802L12.7624 5.2391C12.5253 4.75867 12.3698 4.44535 12.2376 4.2293C12.1539 4.09256 12.1058 4.04108 12.0918 4.02695C12.0329 4.00375 11.9674 4.00375 11.9085 4.02695Z" fill="white" />
                            </svg>
                        </span>
                        Subscriptions
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        @if (isSubscribed)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link d-flex align-items-center" href="/chat">
                    <span class="nav-menu-icon-container me-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 3.5C7.60135 3.5 4.03564 7.06571 4.03564 11.4642C4.03564 14.667 5.92615 17.4297 8.65536 18.6945C10.5868 19.5896 12.7451 19.9524 14.9786 20.3278C15.2384 20.3715 15.4993 20.4153 15.7609 20.4602C15.8235 20.4709 15.8787 20.4792 15.9267 20.4854C15.977 20.3136 16.0139 20.0804 16.0555 19.7783C16.0597 19.7481 16.0639 19.717 16.0682 19.6853C16.1047 19.4175 16.1476 19.1023 16.2146 18.8281C16.2794 18.563 16.4131 18.111 16.7822 17.8334C17.0824 17.6076 17.3662 17.361 17.6314 17.0958C19.0735 15.6537 19.9641 13.6637 19.9641 11.4642C19.9641 7.06571 16.3984 3.5 11.9999 3.5ZM15.8708 20.6305C15.8708 20.6303 15.8719 20.6282 15.8745 20.6246C15.8722 20.6288 15.8709 20.6306 15.8708 20.6305ZM2.53564 11.4642C2.53564 6.23728 6.77293 2 11.9999 2C17.2268 2 21.4641 6.23728 21.4641 11.4642C21.4641 14.0775 20.404 16.4446 18.6921 18.1565C18.3913 18.4573 18.0702 18.738 17.7312 18.9963C17.721 19.0197 17.6982 19.0757 17.6718 19.1841C17.6246 19.3773 17.5925 19.6111 17.5534 19.8965C17.5495 19.9249 17.5455 19.9538 17.5415 19.9832C17.5007 20.2788 17.449 20.6407 17.353 20.9508C17.2698 21.2194 17.0812 21.7025 16.59 21.9126C16.3692 22.007 16.1341 22.0033 16.0097 21.9979C15.8527 21.9911 15.6796 21.9682 15.5073 21.9386C15.249 21.8943 14.9876 21.8505 14.7239 21.8064C12.5189 21.4374 10.1519 21.0413 8.02466 20.0555C4.78513 18.5542 2.53564 15.2727 2.53564 11.4642ZM12 8.8399C12.4142 8.8399 12.75 9.17569 12.75 9.5899V12.5661C12.75 12.9803 12.4142 13.3161 12 13.3161C11.5858 13.3161 11.25 12.9803 11.25 12.5661V9.5899C11.25 9.17569 11.5858 8.8399 12 8.8399ZM9 9.67324C9.41421 9.67324 9.75 10.009 9.75 10.4232V11.7328C9.75 12.147 9.41421 12.4828 9 12.4828C8.58579 12.4828 8.25 12.147 8.25 11.7328V10.4232C8.25 10.009 8.58579 9.67324 9 9.67324ZM15 9.67324C15.4142 9.67324 15.75 10.009 15.75 10.4232V11.7328C15.75 12.147 15.4142 12.4828 15 12.4828C14.5858 12.4828 14.25 12.147 14.25 11.7328V10.4232C14.25 10.009 14.5858 9.67324 15 9.67324Z" fill="white" />
                        </svg>
                    </span>
                    Messenger
                </NavLink>
            </div>
        }
    </nav>

    <div class="filters-navbar px-3 py-2">
        <button class="btn btn-link text-light p-0 d-flex align-items-center text-decoration-none shadow-none"
                @onclick="ToggleFilters"
                style="cursor: pointer;">

            <h5 class="fw-bold mb-0 d-flex align-items-center">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.2753 4.07867C7.09317 4.07867 6.13487 5.03698 6.13487 6.2191C6.13487 7.40123 7.09317 8.35953 8.2753 8.35953C9.45742 8.35953 10.4157 7.40123 10.4157 6.2191C10.4157 5.03698 9.45742 4.07867 8.2753 4.07867ZM4.71221 5.4691C5.05793 3.81837 6.52184 2.57867 8.2753 2.57867C10.0288 2.57867 11.4927 3.81837 11.8384 5.4691H21.25C21.6642 5.4691 22 5.80489 22 6.2191C22 6.63332 21.6642 6.9691 21.25 6.9691H11.8384C11.4927 8.61984 10.0288 9.85953 8.2753 9.85953C6.52184 9.85953 5.05793 8.61984 4.71221 6.9691H2.75001C2.3358 6.9691 2.00001 6.63332 2.00001 6.2191C2.00001 5.80489 2.3358 5.4691 2.75001 5.4691L4.71221 5.4691ZM15.7247 9.85954C14.5426 9.85954 13.5843 10.8178 13.5843 12C13.5843 13.1821 14.5426 14.1404 15.7247 14.1404C16.9068 14.1404 17.8651 13.1821 17.8651 12C17.8651 10.8178 16.9068 9.85954 15.7247 9.85954ZM12.1616 11.25C12.5073 9.59923 13.9712 8.35954 15.7247 8.35954C17.4782 8.35954 18.9421 9.59923 19.2878 11.25H21.25C21.6642 11.25 22 11.5858 22 12C22 12.4142 21.6642 12.75 21.25 12.75H19.2878C18.9421 14.4007 17.4782 15.6404 15.7247 15.6404C13.9712 15.6404 12.5073 14.4007 12.1616 12.75H2.75C2.33579 12.75 2 12.4142 2 12C2 11.5858 2.33579 11.25 2.75 11.25H12.1616ZM8.2753 15.6404C7.09317 15.6404 6.13487 16.5987 6.13487 17.7808C6.13487 18.9629 7.09317 19.9213 8.2753 19.9213C9.45742 19.9213 10.4157 18.9629 10.4157 17.7808C10.4157 16.5987 9.45742 15.6404 8.2753 15.6404ZM4.71221 17.0308C5.05793 15.3801 6.52184 14.1404 8.2753 14.1404C10.0288 14.1404 11.4927 15.3801 11.8384 17.0308H21.2499C21.6641 17.0308 21.9999 17.3666 21.9999 17.7808C21.9999 18.195 21.6641 18.5308 21.2499 18.5308H11.8384C11.4927 20.1816 10.0288 21.4213 8.2753 21.4213C6.52184 21.4213 5.05793 20.1816 4.71221 18.5308H2.75001C2.33579 18.5308 2.00001 18.195 2.00001 17.7808C2.00001 17.3666 2.33579 17.0308 2.75001 17.0308H4.71221Z" fill="currentColor" />
                </svg>

                Filters

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="ms-1 transition-icon @(showFilters ? "rotate-180" : "")">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.43576 8.88187C5.70848 8.57011 6.1823 8.53847 6.49406 8.81119L12.0002 13.6279L17.5064 8.81119C17.8182 8.53847 18.292 8.57011 18.5647 8.88187C18.8375 9.19364 18.8058 9.66745 18.4941 9.94018L12.494 15.1889C12.2113 15.4362 11.7892 15.4362 11.5064 15.1889L5.50645 9.94017C5.19468 9.66745 5.16304 9.19363 5.43576 8.88187Z" fill="currentColor" />
                </svg>
            </h5>
        </button>

        @if (showFilters)
        {
            <div class="mt-3">
                <label for="category-select" class="text-light">Category</label>
                <InputSelect id="category-select" @bind-Value="SelectedCategory" class="form-select form-select-sm mb-2">
                    <option value="">All Categories</option>
                    @foreach (var cat in categories)
                    {
                        <option value="@cat">@cat</option>
                    }
                </InputSelect>

                <label for="year-select" class="text-light">Year</label>
                <InputSelect id="year-select" @bind-Value="SelectedYear" class="form-select form-select-sm mb-3">
                    <option value="">All Years</option>
                    @foreach (var y in years)
                    {
                        <option value="@y">@y</option>
                    }
                </InputSelect>

                <button class="btn btn-sm btn-outline-light w-100" @onclick="ResetFilters">
                    Clear Filters
                </button>
            </div>
        }
    </div>

    <div class="nav-item mt-auto px-3 py-2">
        <NavLink class="nav-link d-flex align-items-center" href="/contact">
            <span class="nav-menu-icon-container me-2">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.82192 4.2085C3.53909 4.40558 3.39768 4.50412 3.2027 4.76735C3.07181 4.94406 2.89625 5.33608 2.85157 5.5514C2.78501 5.87215 2.80993 6.07861 2.85976 6.49155C3.29427 10.0924 4.89331 13.5795 7.65686 16.343C10.4204 19.1066 13.9075 20.7057 17.5084 21.1402C17.9213 21.19 18.1278 21.2149 18.4485 21.1484C18.6638 21.1037 19.0559 20.9281 19.2326 20.7973C19.4958 20.6023 19.5943 20.4609 19.7914 20.178C20.0915 19.7474 20.3581 19.2814 20.5801 18.7981C20.8044 18.3095 20.9166 18.0652 20.8905 17.5726C20.8721 17.226 20.6489 16.6597 20.4258 16.3937C20.1089 16.0157 19.7433 15.8657 19.0121 15.5656L16.9566 14.722C16.4385 14.5094 15.8435 14.6288 15.4475 15.0247C15.0081 15.4641 14.3268 15.5631 13.8047 15.226C12.8194 14.5898 11.8867 13.8397 11.0234 12.9765C10.1602 12.1132 9.41011 11.1805 8.77391 10.1952C8.43682 9.67315 8.53581 8.99186 8.97523 8.55243C9.3712 8.15646 9.49057 7.5614 9.27796 7.04334L8.43435 4.9878C8.13427 4.25661 7.98423 3.89101 7.60631 3.57411C7.34029 3.35105 6.77398 3.12785 6.4273 3.10944C5.9348 3.08329 5.69049 3.19548 5.20189 3.41986C4.71851 3.64184 4.25254 3.90844 3.82192 4.2085Z" stroke="white" stroke-width="1.5" stroke-linejoin="round" />
                </svg>
            </span>
            Contact Us
        </NavLink>
    </div>
</div>

@code {
    private List<string> categories = new();
    private List<string> years = new();

    private string selectedCategory = string.Empty;
    private string selectedYear = string.Empty;

    private bool isSubscribed = false;
    private bool showFilters = false;

    private void ToggleFilters() => showFilters = !showFilters;

    protected override async Task OnInitializedAsync()
    {
        AuthStateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;

        await RefreshSidebarData();
    }

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        await InvokeAsync(async () =>
        {
            await RefreshSidebarData();
        });
    }

    private async Task RefreshSidebarData()
    {
        using var ctx = DbFactory.CreateDbContext();

        categories = await ctx.Book
            .Select(b => b.BookCategory)
            .Distinct()
            .OrderBy(c => c)
            .ToListAsync();

        years = await ctx.Book
            .Select(b => b.BookYear.ToString())
            .Distinct()
            .OrderByDescending(y => y)
            .ToListAsync();

        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("category", out var cat))
            selectedCategory = cat;
        else
            selectedCategory = string.Empty;

        if (query.TryGetValue("year", out var yr))
            selectedYear = yr;
        else
            selectedYear = string.Empty;

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            var userIdStr = user.FindFirst(ClaimTypes.NameIdentifier)?.Value
                            ?? user.FindFirst("UserId")?.Value;

            if (int.TryParse(userIdStr, out int userId))
            {
                using var context = DbFactory.CreateDbContext();
                var dbUser = await context.User.FindAsync(userId);
                isSubscribed = dbUser?.IsSubscribed ?? false;
            }
        }
        else
        {
            isSubscribed = false;
        }

        StateHasChanged();
    }

    private string SelectedCategory
    {
        get => selectedCategory;
        set { selectedCategory = value; NavigateWithFilters(); }
    }

    private string SelectedYear
    {
        get => selectedYear;
        set { selectedYear = value; NavigateWithFilters(); }
    }

    private void NavigateWithFilters()
    {
        var query = new List<string>();
        if (!string.IsNullOrEmpty(selectedCategory))
            query.Add($"category={Uri.EscapeDataString(selectedCategory)}");
        if (!string.IsNullOrEmpty(selectedYear))
            query.Add($"year={Uri.EscapeDataString(selectedYear)}");

        var url = query.Any() ? $"/?{string.Join("&", query)}" : "/";
        NavigationManager.NavigateTo(url, forceLoad: true);
    }

    private void ResetFilters()
    {
        selectedCategory = string.Empty;
        selectedYear = string.Empty;
        NavigationManager.NavigateTo("/", forceLoad: true);
    }

    public void Dispose()
    {
        AuthStateProvider.AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }
}